{% extends "base.html" %}

{% block title %} Личный кабинет {% endblock %}
{% block account_tab %}  <h4 class="active">Вы авторизованы как <strong class="h2 text-success">{{ session['username'] }}</strong></h4>{% endblock %}

{% block content %}
    <div class="jumbotron container">
        <h2> Привет, {{ user.login }}!</h2>
        <p>
            Мы рады видеть Вас в личном кабинете. Здесь можно увидеть свои данные и поменять их.

        </p>

        <div class="panel panel-default">
          <div class="panel-body">
              <div class="row">
                  <div class="col-md-6">
                      <p> Ваш логин <strong>{{ user.login }}</strong></p>
                  </div>
                  <div class="col-md-6">
                      <p> Ваш ранг в Dota2 : <strong>{{ user.dota2 }}</strong></p>
                      <p> Ваш ранг в CS:GO : <strong>{{ user.csgo }}</strong></p>
                      <p> Ваш ранг в Rocket League : <strong>{{ user.rocket }}</strong></p>
                  </div>
              </div>
              <h3><strong>Изменить ранг: </strong></h3>
              <div class="row">
                  <div class="col-md-4">
                      <a class="btn btn-lg btn-outline-danger" role="button" href='/change/dota2'> Dota 2 </a>
                  </div>
                  <div class="col-md-4">
                      <a class="btn btn-lg btn-outline-warning" role="button" href='/change/cs'> CS:GO </a>
                  </div>
                  <div class="col-md-4">
                      <a class="btn btn-lg btn-outline-primary" role="button" href='/change/rocket'> Rocket League </a>
                  </div>
              </div>
          </div>
        </div>
    </div>

{% endblock %}
