<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{% block title %}{% endblock title %}</title>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top navbar-fixed-top">

  <a class="text-light" href="/account"><i class="far fa-user fa-2x"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"> Главная <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users"> Игроки </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Меню
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/change/dota2">Dota 2</a>
          <a class="dropdown-item" href="/change/rocket">Rocket League</a>
           <a class="dropdown-item" href="/change/cs">CS : GO</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="https://vk.com/sstartsev2014">Разработчик</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/allgames"> Добавленные игры </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="text-primary" href="https://vk.com/very_goody"><i class="fab fa-vk fa-2x"></i></a>
    </form>
  </div>
</header>
</head>
<br></br>
<br></br>
{% block content %}{% endblock %}
<div class="container">
  <div class="jumbotron">
    {% if session['logged_in'] %}
    {% block account_tab %} <h4 class="active">Вы авторизованы как <strong class="h2 text-success"> {{ session['username'] }}</strong></h4>{% endblock %}
        <a class="btn btn-lg btn-outline-danger" role="button" href="/logout"> Выйти </a>
    {% else %}
      <a class="btn btn-lg btn-outline-primary" role="button" href='/login'> Войти </a>
      <a class="btn btn-lg btn-outline-success" role="button" href='/reg'> Регистрация </a>
    {% endif %}
  </div>
</div>

</body>
</html>

